h1 {
	@include awesomeColor(#0ff);
	font-size:90px;
	
}

h2 {
	@include awesomeColor(grey);
	font-size:90px;
	
}

h3 {
	@include awesomeColor(green);
	font-size:90px;
	
}

h4 {
	@include awesomeColor(green);
	font-size:90px;
	
}