.navbar-default {
	background:$brand-primary;
}

.header_space {
	margin-bottom: 80px!important;
}

.navbar-default .navbar-brand {
	@include logo-brand;
}

.main_navbar {
  	@include main-navbar;
}

.navbar-links {
  	@include navbar-links;
}

.navbar-default {
  	border:none;
  	@include box-shadow(0px, 0px, 5px, 1px, #474747); 
}

#search_input {
 	@include search-input-header; 
}


.bkg_header {
	@include bkg-header; 
}