// @mixin awesomeColor($color) {
//   color:darken($color, 10%);
//   background-color: rgba($color, 0.5);
// }


//NEW VARIABLES-------------///
$logo-font: "Montserrat", Helvetica, Arial, sans-serif !default;
$line-height-nav: 50px !default; // 20/14
$nav-padding-vertical: (($navbar-height - $line-height-nav) / 2) !default;
$background-transparent: transparent;
$navbar-icon-size: 40px;
$color-white: #ffffff;
$height-items-filter: 60px;
$gray-dark: #6b6b6b;   // #6b6b6b














//NEW FUNCTIONS-------------///

//Circle mixins-------------///
@mixin circle($size) {
     width: $size;
     height: $size;
     border-radius: 100%;
}


//Font weight mixins-------------///
@mixin font-weight($weight) {
  $weights: (
    light: 300,
    normal: 400,
    medium: 500,
    bold: 700,
    heavy: 800,
    black: 900
  );
  
  $output: $weight;
  @if map-has-key($weights, $weight) {
      $output: map-get($weights, $weight);
  }
  
  font-weight: $output;
}


//Vertical center mixins-------------///
@mixin center-vert($size){
  margin: calc(50vh - #{$size / 2}) auto;
  height: $size;
  line-height: $size;
}

@mixin center-vert-position {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

@mixin center-both-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


//box-shadow mixin-------------///
@mixin box-shadow($shadowX, $pshadowY, $shadowBlur, $shadowSpread, $shadowColor) {
  box-shadow: $shadowX $pshadowY $shadowBlur $shadowSpread  $shadowColor;
    -moz-box-shadow: $shadowX $pshadowY $shadowBlur $shadowSpread  $shadowColor;
    -ms-box-shadow: $shadowX $pshadowY $shadowBlur $shadowSpread  $shadowColor;
    -webkit-box-shadow: $shadowX $pshadowY $shadowBlur $shadowSpread  $shadowColor;
}


@mixin color-placeholder($color) {
  input::-webkit-input-placeholder {
     color: $color;
  }
  /* Firefox 18- */
  input:-moz-placeholder { 
    color: $color;  
  }
   /* Firefox 19+ */
  input::-moz-placeholder { 
    color: $color;  
  }
  input:-ms-input-placeholder {  
    color: $color;  
  }
}


@mixin btn-circle {
  background:$brand-primary;
  padding:0;
  position:relative;
  @include circle(50px);
  @include box-shadow(1px, 1px, 3px, 1px, rgba(186, 186, 186, 0.5));

  & i {
    color:$color-white;
    @include font-weight(bold);
    @include center-both-position;
  }

  &.circle_sm {
    @include circle(30px);
  }

  &.circle_sm i {
    font-size:19px;
  }
}


//margin type and value mixins-------------///
@mixin element-gap($gapType, $marginValue) {
   #{$gapType}:$marginValue;
}


@mixin title-type($titleSize, $titleColor, $titleWeight, $titleGap) {
    margin:0;
    font-size:$titleSize;
    color:$titleColor;
    font-weight:$titleWeight;
    margin-bottom:$titleGap;
}









///-------------------------------------------------///


/*miscellaneous-------*/
@mixin logo-brand {
  font: {
    family:$logo-font;
    weight:400;
    size:30px;
  }
  &:hover {
    color: white;
  }
  color:$gray-lighter;
  span {
    font: {
      weight:700;
    }
  }
}


@mixin navbar-links {
  margin:0;
    &>li {
      padding:$nav-padding-vertical $navbar-padding-horizontal;
      list-style:none;
    }

    & > li > i,
    & > li > a > i {
      line-height:$line-height-nav;
    }

    & .dropdown-menu i {
      color:$brand-primary;
      font-size: 25px;
      vertical-align: bottom;
    }

    & .dropdown-menu .divider {
      margin:7px 0;
    }
}


@mixin main-navbar-icon {
  color:$gray-lighter;
  font-size:$navbar-icon-size;
}




@mixin main-navbar {
  margin-bottom:0;

  & i {
    @include main-navbar-icon;
  }
}




@mixin search-input-header {
  margin:0;
  width: 100%;
  float:none;
  @include color-placeholder(#ffffff);

  & input {
    border: 1px solid #ffffff;
    background-color: $background-transparent;
    height:$height-items-filter;
    padding-left: 20px;
    font-size:$font-size-large;
    color:#ffffff;
  }

  & .input-group-addon {
    position:absolute;
    right:0;
    z-index: 5;
    background-color: $background-transparent;
    padding:0;
    border:none;
    cursor: pointer;
    display:block;
    height: 100%;
    width: 70px;
    @include center-vert-position;
  }

  & .input-group-addon i {
    border:none;
    color:$color-white;
    font-size:calc(#{$navbar-icon-size / 1.4});
    @include center-both-position;
  }
}





@mixin bkg-header {
  background:url(images/bkg-main.jpg);
  height: 400px;
  margin-bottom:70px;
  position:relative;

    & .cont_filter {
      margin-top:calc(25% - 175px);
    }

    & .cont_filter .btn-default {
      height:$height-items-filter;
      font-size:$font-size-large;
      padding: 15px;
    }

    &  h1, h2 {
      margin:0;
    }

    & .cont_filter .main_tittle {
      font-size:calc(1.7 * #{$font-size-large});
      margin-bottom:10px;
      color:$color-white;
      @include font-weight(bold);
    }

    & .cont_filter .main_subtittle {
      font-size:calc(1.1 * #{$font-size-large});
      color:$color-white;
      margin-bottom: 43px;
    }
}





@mixin box-item-info {
  background:$color-white;
  padding:30px 35px;
  margin-bottom:20px;
  border-radius:$border-radius-base;
  //@include article-shadow;
  @include box-shadow(1px, 1px, 3px, 1px, rgba(186, 186, 186, 0.5));
  
  & .title_info, p {
    margin:0;
    color:$gray-dark;
    font-size:$font-size-base;
    margin-bottom: 10px;
  }

  & .title_info {
    font-size:$font-size-large;
    @include font-weight(normal);
    color:$brand-primary;
  }

  & figure {
    width: 14%;
    margin-right: 3%;
  }

  & .box_item_info {
    width: 83%;
    position:relative;
  }

  & .box_item_info .pull-left {
    width:70%;
  }

  & .box_item_info .pull-left i {
    vertical-align: bottom;
    font-size:calc(#{$navbar-icon-size / 1.7});
  }

  & .list-inline,
  & .list-inline li {
    padding:0;
    margin:0;
  }
}



@mixin star-rate {
  width: 23px;
  vertical-align:top;

  &.star_muted i {
    color:$gray;
  }

  & i {
    color:#fdc006;
    display:block;
    font-size:27px;
  }
  
}



@mixin item-price {
  font-size:calc(1.5 * #{$font-size-large});
  @include font-weight(medium);
  color:$brand-primary;

  & span {
    font-size:calc(.8 * #{$font-size-large});
  }
}


@mixin footer-style {
  color:$gray-light;
  margin:100px 0 40px 0;

  & .list_group li {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom:10px;
  }
  
  & .list_group a {
    color:$gray-darker;
  }

  & span {
    color:$gray;
    font-size:$font-size-small;
    display:inline-block;
  }
}


// @mixin box-item-car {
//   background:$color-white;
//   padding:15px 15px;
//   margin-bottom:10px;
//   border-radius:$border-radius-base;
//   border: 1px solid #d4d4d4;
 
//   & p {
//     margin:0;
//   }

//   & span {
//     margin-bottom:8px;
//     font-size:$font-size-base;
//   }

//   & i {
//     font-size:calc(#{$navbar-icon-size / 1.7});
//   }
// }


@mixin title-reserve {
  @include title-type(30px, #0398e0, 700, 30px);

  i, span {
    vertical-align: middle;
  }

  i {
    @include title-type(40px, #0398e0, 0, 0);
  }

}


@mixin input-type($heightInput) {
  height:$heightInput;
  padding-left:calc(#{$heightInput} / 2);
  // font-size:calc(#{$heightInput} / 3.5);
}