// @mixin awesomeColor($color) {
//   color:darken($color, 10%);
//   background-color: rgba($color, 0.5);
// }


//new variables-------------///
$logo-font: "Montserrat", Helvetica, Arial, sans-serif !default;
$line-height-nav: 50px !default; // 20/14
$nav-padding-vertical: (($navbar-height - $line-height-nav) / 2) !default;


//new functions-------------///
@mixin logo-brand {
  font: {
    family:$logo-font;
    weight:400;
    size:30px;
  }
  &:hover {
    color: white;
  }
  color:$gray-lighter;
  span {
  	font: {
  		weight:700;
  	}
  }
}



@mixin navbar-links {
  margin:0;
    &>li {
      padding:$nav-padding-vertical $navbar-padding-horizontal;
      list-style:none;
    }

    & > li > i,
    & > li > a > i {
      color:$gray-lighter;
      font: {
        size:40px;
      }
      line-height:$line-height-nav;
    }
}



@mixin navbar-shadow {
  box-shadow: 0px 0px 3px 2px #8d8b8b;
    -moz-box-shadow: 0px 0px 3px 2px #8d8b8b;
    -ms-box-shadow: 0px 0px 3px 2px #8d8b8b;
    -webkit-box-shadow: 0px 0px 3px 2px #8d8b8b;
}